.page {
  display: grid;
  place-content: center;
  padding: 5%;
}
.button {
  display: grid;
  place-content: center;
  padding: 10px 10px;
  background: rgb(149, 168, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}
.revealContainer {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  padding: 0 5%;
}
.revealContainer div {
  background-color: rgb(163, 163, 254);
  color: aliceblue;
  padding: 10px;
  border: 1px solid rgb(178, 178, 178);
  height: 150px;
  display: grid;
  place-content: center;
  border-radius: 20px;
  cursor: pointer;
}
